@tailwind base;
@tailwind components;
@tailwind utilities;

#canvas{
    cursor:pointer;
    /* padding :10px; */
    
}


#guide {
    display: grid;
    position: absolute;
    /* border : 1px solid gray;
    justify-content: center;
    text-align: center; */
    background-size: cover;
}

#guide div {
    border : 1px solid gray;
    z-index: 3;
}

#printGuide {
    display: grid;
    /* border : 1px solid gray; */
    /* height:297mm;
    width:210mm; */
    background-size: cover;
}

/* #printGuide div {
    border : 1px solid gray;
} */

.selected {
    border : 1px solid gray;
    z-index: 14;
}

#pickedColorDiv {
    width: '36px';
    height: '14px';
}

.colorPallete {
    cursor : pointer;
}

.colorPallete:hover {
    transform: scale(1.2);
}
#print-content {
    /* visibility: hidden; */
    display:none;
}
@media print {
    body {
      visibility: hidden;
    }
    
    #print-content {
      padding : 0;
      margin:0;
      display: block;
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0; 
    }
  }
