@tailwind base;
@tailwind components;
@tailwind utilities;

/*editor*/
@tailwind base;
@tailwind components;
@tailwind utilities;

#canvas{
    cursor:pointer;
    /* padding :10px; */
    
}


#guide {
    display: grid;
    position: absolute;
    /* border : 1px solid gray;
    justify-content: center;
    text-align: center; */
    background-size: cover;
}

#guide div {
    border : 1px solid gray;
    z-index: 3;
}

#printGuide {
    display: grid;
    /* border : 1px solid gray; */
    /* height:297mm;
    width:210mm; */
    background-size: cover;
}

/* #printGuide div {
    border : 1px solid gray;
} */

.selected {
    border : 1px solid gray;
    z-index: 14;
}

#pickedColorDiv {
    width: '36px';
    height: '14px';
}

.colorPallete {
    cursor : pointer;
}

.colorPallete:hover {
    transform: scale(1.2);
}

@media print {
    body {
      visibility: hidden;
    }
    
    .print-content {
        width:210mm;
        height:290mm;
      display: block;
      margin-top:50px;
      padding : 0;
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
      transform: scale(1.6) translate(120px, 150px);
    }
  }

